@font-face {
    font-family: 'Parkinsans Local';
    src: url('ParkinsansLight-Medium.woff2') format('woff2'),
        url('ParkinsansLight-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Parkinsans Local';
    src: url('ParkinsansLight-SemiBold.woff2') format('woff2'),
        url('ParkinsansLight-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Parkinsans Local';
    src: url('ParkinsansLight-Regular.woff2') format('woff2'),
        url('ParkinsansLight-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

