/**
* Theme Name: Cargo Trucking Child
* Description: This is a child theme of Cargo Trucking.
* Author: <a href="https://cmsmasters.net/">cmsmasters</a>
* Template: cargo-trucking
* Version: 1.0.0
* Tested up to: 6.6
* Requires PHP: 7.4
* License:
* License URI:
* Text Domain: cargo-trucking-child
* Copyright: cmsmasters 2025 / All Rights Reserved
*/